
*{
   /*border: solid black 2px;*/
  font-family:sans-serif;

}
html{
  height:100%;
}
@font-face {
    font-family:rubberDucky;
    src:url('TPF Rubber Ducky.ttf');
}
#duckyHead{

  font-family:rubberDucky;
  /*border:solid black 2px;*/
  text-align: center;
  margin:20px auto 20px auto;

}

header{
  padding-top:10px;
  padding-bottom:20px;
  background-color:#f1c802;
  height:40px;
  margin-bottom: 20px;
  border: solid 2px black;
  width: 100%;
}
body{
  /*border: solid black 2px;*/
  background-color:#F4F0BB;
  margin: 0px auto;
  height:100%;
}

main{

  padding-top: 20px;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 25px;
  width:960px;
  height:500px;
  margin:0px auto;
  background-color: WHITE;
  overflow: hidden;
}

footer{
  height:70px;
  background-color:#f1c802;
  margin-top: 20px;
  position: relative;
  bottom: 0px;
  width: 100%;
  border: solid 2px black;
}

ul {

    text-align:right;

}

li{
    display:inline;


}

li a {

    text-decoration:none;
    padding:10px;
    margin-right:10px;
    font-weight: bold;
    background-color:#f1c802;
    border-radius: 25px;

}
li a:hover{
  color:white;
  background-color:#F4F0BB;
  border-radius: 25px;
}

li a:visited{
  text-decoration: none;
  color:black;
  border-radius: 25px;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f1c802;
  }

  #userNameSubmitButton {
      background-color: #B94618;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  form a.button {
font-size: 10pt;
text-decoration: none;
color: white ;
  }

#main{

  line-height: 20px;
  margin: 0 auto;
  width:960px;
  height:100%;
}
.duckyright{
  z-index: 0;
  position: absolute;
  transform: rotate(324deg);
  margin-left: 894px;
}

.duckybottom{
  position: relative;
margin-top: -40px;

transform: rotate(-1deg);
}

#aboutProject{
  font-size: 14pt;
  line-height: 23px;
  width:430px;
  margin:0 auto;
}

#formName{
  padding-top: 10px;
  width:430px;
  margin:0 auto;
  text-align: center;

}
