
*{
   /*border: solid black 2px;*/
  font-family:sans-serif;
}

html{
  height: 100%;
}

@font-face {
    font-family:rubberDucky;
    src:url('TPF Rubber Ducky.ttf');
}

h1{
  font-family:arial;
  text-align: center;
}

#theGoalOutPut {
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
}

#theGoalOutPut p{

}

header{
  padding-top:10px;
  padding-bottom:20px;
  background-color:#f1c802;
  height:40px;
  margin-bottom: 20px;
  border: solid 2px black;
  width: 100%;
}

body{
  /*border: solid black 2px;*/
  background-color:#F4F0BB;
  margin: 0px auto;
  height: 100%;
}

main{
  padding-top: 20px;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 25px;
  width:960px;
  height:100%;
  margin:0px auto;
  background-color: WHITE;
}

footer{
  /*position: absolute;*/
  height:70px;
  background-color:#f1c802;
  margin-top: 20px;
  width: 100%;
  border: solid 2px black;
}

ul {

    text-align:right;

}

li{
    display:inline;
}

a {
    text-decoration:none;
    padding:10px;
    margin-right:10px;
    font-weight: bold;
    background-color:#f1c802;
    border-radius: 25px;
    margin-left: 10px;
}


a:hover{
  color:white;
  background-color:#F4F0BB;
  border-radius: 25px;
}

a:visited{
  text-decoration: none;
  color:black;
  border-radius: 25px;
}

#main{
  margin: 0 auto;
  width:960px;
}

#aboutUs{
  width:400px;
  display: inline-block;
  padding-right:30px;
  padding-left: 30px;
  padding-bottom: 20px;
}

#name{
  width:430px;
  margin:0 auto;
}
.profPic{
  border-radius: 15px;
  float:left;
  padding: 0px 10px 0px 0px;
}



#timer_container {
  width: 960px;
  text-align: center;
  margin: 0px auto;
}

button {
  margin-top: 10px;
  width:;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f1c802;
}

#buttons{
  text-align: center;
  margin: 0 auto;
  width: 300px;
}

form{
display: block;
text-align: center;
margin: 0 auto;
}
#userGoalInput {
width: 400px;
height: 50px;
font-size: 20pt;

}
#timer {
  /*border: none;*/
  text-align: center;
  margin: 0 auto;
  text-align: center;
  font-size:80px;
  font-weight: bold;
  width:440px;
  font-family: rubberDucky;
}
#submit{
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #B94618;
}

#rubber_duck {

  margin-top: 40px;
  margin-left: -140px;
  position: fixed;
  float: right;
  display: inline;
  max-width:140.8px;
  max-height: 112.58px;
  /*margin-top: 35px;*/
}

#duck_message {

  position: relative;
  display: inline;
  margin-left:;
  /*border: 2px solid black;*/
}

.bubble
{

margin-top: -50px;
margin-left: -180px;
position: fixed;
display:inline;
max-width:250px;
min-height:1.5em;
padding: 20px;
background: #FFFFFF;
border: #7F7F7F solid 4px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
text-align: left;

}

.bubble:after
{

content: "";
position: absolute;
bottom: -15px;
left: 20%;
border-style: solid;
border-width: 15px 15px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
}

.bubble:before
{
content: "";
position: absolute;
bottom: -19.5px;
left: calc(20% - 3px) ;
border-style: solid;
border-width: 18px 18px 0;
border-color: #7F7F7F transparent;
display: block;
width: 0;
z-index: 0;
}

#prompt_solution {
  height: 30px;
  border-radius: 10px;
  font-size: 25px;
}
.cheat_menu {
  width:960px;
  margin: 0 auto;
}

.cheat_menu ul{
  text-align: center;
}

.cheat_menu li {
  display: inline;
}
#cheat_sheet {
  width: 960px;
  margin: 0 auto;
}
#cheat_sheet h1{
  font-size: 35px;
  color: #226F54;
  margin-bottom: -10px;
}
#errorCode, #errorCode2, #errorCode3, #errorCode4 {
  font-size: 15px;
  color:#ff0000;
  background-color:#ffe2e2;
  margin-top: -12px;
  width: 450px;
}
#cheat_sheet h3 {
  font-size: 15px;
  margin-top: -10px;
  color:#226F54;
  width:450px
}
#cheat_sheet p {
  width: 450px;
  font-size: 15px;
  margin-top: -12px;
}
