
*{
   /*border: solid black 2px;*/
  font-family:sans-serif;
}
@font-face {
    font-family:rubberDucky;
    src:url('TPF Rubber Ducky.ttf');
}
h1{
  font-family:arial;
  text-align: center;
}

#theGoalOutPut {
  font-size: 20pt;
  font-weight: bold;
  text-align: center;

}
#theGoalOutPut p{

}
header{
  padding-top:10px;
  padding-bottom:20px;
  background-color:#f1c802;
  height:10%;
  margin-bottom: 20px;
}
body{
  /*border: solid black 2px;*/
  background-color:#F4F0BB;
  margin: 0px auto;
}

main{

  padding-top: 20px;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 25px;
  width:960px;
  height:700px;
  margin:0px auto;
  background-color: WHITE;
}

footer{
  margin-bottom: 0px;
  height:70px;
  background-color:#f1c802;
  margin-top: 20px;
  position: relative;
  bottom: 0px;
  width: 100%;


}
ul {

    text-align:right;

}

li{
    display:inline;
}

a {

    text-decoration:none;
    padding:10px;
    margin-right:10px;
    font-weight: bold;
    background-color:#f1c802;
    border-radius: 25px;
    margin-left: 10px;
}


a:hover{
  color:white;
  background-color:#F4F0BB;
  border-radius: 25px;
}

a:visited{
  text-decoration: none;
  color:black;
  border-radius: 25px;
}

#main{
  margin: 0 auto;
  width:960px;
}

#aboutUs{
  width:400px;
  display: inline-block;
  padding-right:30px;
  padding-left: 30px;
  padding-bottom: 20px;
}

#name{
  width:430px;
  margin:0 auto;
}
.profPic{
  border-radius: 15px;
  float:left;
  padding: 0px 10px 0px 0px;
}



#timer_container {
  width: 960px;
  text-align: center;
  margin: 0px auto;
}

button {
  margin-top: 10px;
  width:;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f1c802;
}

#buttons{
  text-align: center;
  margin: 0 auto;
  width: 300px;
}

form{
display: block;
text-align: center;
margin: 0 auto;
}
#userGoalInput {
width: 400px;
height: 50px;
font-size: 20pt;

}
#timer {
  /*border: none;*/
  text-align: center;
  margin: 0 auto;
  text-align: center;
  font-size:80px;
  font-weight: bold;
  width:440px;
  font-family: rubberDucky;
}
#submit{
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #B94618;
}

#rubber_duck {
  position: relative;
  float: right;
  display: inline;
  width: 15%;
  height: 15%;
  /*margin-top: 35px;*/
}

#duck_message {
  position: relative;
  display: inline;
  margin-left: 30px;
  border: 2px solid black;
}

/*CHAT BUBBLE========================================== CSS*/
/* container */
.container {
  padding: 5% 5%;
}


.talk-bubble {
    margin: 40px;
  display: inline-block;
  position: relative;
    width: 200px;
    height: auto;
    background-color: lightyellow;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.tri-right.right-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
  left: auto;
    right: -20px;
  top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: lightyellow transparent transparent lightyellow;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
    text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.cheat_menu li {
  display: inline;
}
