*{
  font-family:sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #f4f0bb;
  height: 100%;
}

header {
  height: 10%;
  background-color:#f1c802;
  /*margin-bottom: 20px;*/
  border: 2px solid black;
  margin-bottom: 20px;
}

ul {
  font-family:sans-serif;
margin-top: 2%;
    text-align:right;

}

li{
    display:inline;

}

li a {

    text-decoration:none;
    padding:10px;
    margin-right:10px;
    font-weight: bold;
    background-color:#f1c802;
    border-radius: 25px;

}
li a:hover{
  color:white;
  background-color:#F4F0BB;
  border-radius: 25px;
}

li a:visited{
  text-decoration: none;
  color:black;
  border-radius: 25px;
}


footer {
  height: 10%;
  background-color:#f1c802;
  /*margin-top: 20px;*/
  border: 2px solid black;
  margin-top: 20px;
}

main {
  width: 960px;
  height: 80%;
  margin: 0px auto;
  border: 5px solid black;
  /*padding: 20px;*/
  background-color:#f1c802;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

section div {
  border: 2px solid black;
  width: 480px;
  margin: 0px auto;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#solved div {
  background-color: #87c38f;
}

#unsolved div {
  background-color: #b94618;
}

fieldset {
  background-color: #f4f0bb;
  margin-bottom: 40px;
  border: 5px solid black;
}

div button {
  top: -20px;
  left: -20px;
  border: 2px solid red;
  height: 40px;
  width: 40px;
  font-size: 25px;
  cursor: pointer;
  background-color: red;
  position: relative;
  border-radius: 20px;
  font-weight: bold;
  color: white;
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  font-weight: bold;
}

legend {
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 30px;
  color: green;
  text-align: center;
  background-color: cornsilk;
  padding: 5px;
  border: 2px solid black;
}

#unsolved_field legend {
  color: red;
}
